<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div class="main">
        <div class="top">
            <div class="box1">
            <img src="images/donateblood.png" alt="" class="icon">
                <ul>
                    <!-- menus -->
                    <a href="/findBlood">LOOKING FOR BLOOD</a>
                    <a href="/donateBlood">WANT TO DONATE BLOOD</a>
                    <a href="/login">LOGIN</a>
                </ul>
            </div>
            <div class="box2">
                <h1 class="heading">SHARE BLOOD , SHARE LOVE</h1>
            </div>    
        </div>
        
        <div class="two">
        <main>
        <h1>Welcome to our Blood Donation Website</h1>
        <p>Every year, millions of people need blood transfusions to survive. By donating blood, you can help save lives and make a difference in you</p>
        <p>Finding a nearby blood donation center can be a daunting task, especially in times of emergencies.</p>
        <p>Blood banks are scattered across the city, and it can be challenging to locate the ones that have the required blood type available.</p>
        <p>This is where our blood bank locator website comes in. Our platform connects blood banks and blood donors, making it easier to find the nearest blood donation center with the blood type you need.</p> 
        <p>Blood banks can register themselves on our website and provide information about the blood availability they have. Users can search for a nearby blood bank for donating or asking for blood.</p>  
        <p> Our website streamlines the process of blood donation and ensures that the blood is made available to those who need it, when they need it. Our mission is to make the process of finding a blood donation center simple and easy, thereby saving lives and contributing to the well-being of the community.</p>
        </main>

        <img  src="images/blooddonar.png" alt="" class="img1">      
        </div>
  
        <div class="three">
            <img class="img2" src="images/donationFact2.png" alt="">
            <div class="small">
            <h1>What is Meant by Blood Transfusion? <br> Why are Blood Banks Important?</h1>
            <p class="p1"> 
                Ideally, blood transfusion is the process of transferring blood components from one person (donor) into the bloodstream of another person (recipient). <br> It comes into play especially as a life-saving process for the recipient when there’s a considerable loss of blood cells through bleeding or depression of the bone marrow. Blood transfusion is believed to be a noble cause.
                <br>
                Blood bank services act as the universal point as they collect, test, and store all types of blood. They carefully screen test the blood for any signs of  <br> Other than screening for infections, they also check the blood type if it’s type A, B, AB, or O and whether it’s Rh-negative or Rh-positive.
                <br>
                Note: If your blood type is “O-negative”, you’re the universal donor who can transfer your blood to nearly everyone and if your blood type is “AB-positive”, you act as universal recipients. However, any mismatch between the blood types can prove fatal, so blood tests must be done, carefully.
            </p>
        </div>
        </div>
        <div class="four">
            <div class="small">
                <h1>Who can donate blood</h1>
                <p class="p3">
                    In general, anyone who meets certain eligibility criteria can donate blood. The exact criteria can vary by country and organization, but here are some general guidelines:
                </p>
                <ul class="box3">
                    <li>The donor must be at least 17 or 18 years old, depending on the country and organization.</li>
                    <li>The donor must weigh at least 110 pounds or 50 kilograms.</li>
                    <li>The donor must be in good health and feeling well on the day of donation.</li>
                    <li>The donor must not have donated blood within a certain timeframe, usually between 8 and 16 weeks depending on the country and organization.</li>
                    <li>The donor must not have certain medical conditions, such as HIV/AIDS, hepatitis B or C, or syphilis.</li>
                    <li>The donor must not have engaged in certain behaviors that can increase the risk of infection, such as using intravenous drugs, having unprotected sex with multiple partners, or traveling to certain countries with high rates of infectious diseases.</li>
                  </ul>
               
            </div>
            <!-- <img src="images/child.png" alt="" class="child"> -->
        </div>
        </div>
    </div>
</body>
</html>