<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <h1><%= value %></h1>

    <script>
      setTimeout(function () {
        window.location.href = "/home";
      }, 3000);
    </script>
  </body>
</html>
