<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/auth-form.css">
  </head>
  <body>
    <form action="/auth/verify" method="POST" id="form">
      <header>
        <h1>OTP Verification form Form</h1>
      </header>

      <div class="vertical">
        <div class="horizontal">
          <div class="vertical-inside">
            <!-- Email -->
            <label for="email">Enter your Email</label>
            <div class="email">
              <input type="email" name="email" id="email" placeholder="Enter your registered email" required/>
            </div>
          </div>

          <!-- otp -->
          <div class="vertical-inside">
            <label for="otp">Enter the otp sent to you</label>
            <div class="otp">
              <input type="text" name="otp" id="otp" placeholder="Enter the otp sent to your registered email" required />
            </div>  
          </div>
        </div>
        <div class="horizontal"></div>
      </div>
      </div>
      <div class="vertical">
        <p>Your otp will expire in <span id="timer"></span> Seconds</p>
      </div>
      <div class="vertical" style="align-items: center; padding-left: 0px">
        <button type="submit">Verify otp</button>
      </div>
    </form>

    <script>
      const emailsection = document.getElementById("emailsection");
      const otpsection = document.getElementById("otpsection");

      let timeleft = 300;
      let timerid;
      function starttimer() {
        let timer = document.getElementById("timer");
        timer.textContent = timeleft;
        if (timeleft == 0) {
          clearTimeout(timerid);
          alert("Otp expired! Please request a new one.");
          emailsection.style.display = block;
          otpsection.style.display = none;
        } else {
          timeleft--;
          timerid = setTimeout(starttimer, 1000);
        }
      }
      starttimer();
    </script>
  </body>
</html>
